<p><%= notice %></p>

<h2><%= @question.title %></h2>

<ul>
  <% if @cookie %>
    <% @question.answers.each do | answer | %>
      <li><%= answer.description + answer.count.to_s %></li><br>
    <% end %>
  <% else %>
    <% @question.answers.each do | answer | %>
      <li><%= link_to answer.description,
        answer_path(answer.id), method: :patch %></li><br>
    <% end %>
  <% end %>
</ul>
