<p><%= notice %></p>

<h2><%= @question.title %></h2>

<ul>
  <% @question.answers.each do | answer | %>
    <li><%= link_to answer.description,
      answer_path(answer.id), method: :patch %></li><br>
  <% end %>
</ul>
