<avatar><%= image_tag current_user.avatar.url(:thumb) %></avatar>
<h1><%= current_user.name %></h1>
<span><%= link_to "view my polls", current_user %></span>
<span><%= link_to "create new poll", new_question_path %></span>
