<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to "view my polls", current_user %></span>
<span><%= link_to "create new poll", new_question_path %></span>
